{% load static %}

<footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row pt--40 pb--40">
                        <div class="col-md-4 mb-sm--30">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>+88 123 456 7899</h4>
                                    <p>Free support line!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-sm--30">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>Support@roadthemes.com</h4>
                                    <p>Orders Support!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>Mon - Fri / 8:00 - 18:00</h4>
                                    <p>Working Days/Hours!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="line">
                        </div>
                    </div>
                    <div class="row pt--40 pb--40">
                        <div class="col-lg-8 mb-md--30">
                            <div class="row">
                                <div class="col-md-4 mb-sm--30">
                                    <div class="footer-widget">
                                        <h3 class="widget-title">Contact US</h3>
                                        <ul class="widget-menu">
                                            <li><a href="#">Brands</a></li>
                                            <li><a href="#">Gift Vouchers</a></li>
                                            <li><a href="#">Affiliates</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="my-account.html">Order History</a></li>
                                            <li><a href="my-account.html">Track Your Order</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-sm--30">
                                    <div class="footer-widget">
                                        <h3 class="widget-title">CUSTOMER SERVICE</h3>
                                        <ul class="widget-menu">
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="my-account.html">Order History</a></li>
                                            <li><a href="#">Site Map</a></li>
                                            <li><a href="my-account.html">My Account</a></li>
                                            <li><a href="#">Unsubscribe Notification</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-widget">
                                        <h3 class="widget-title">INFORMATION</h3>
                                        <ul class="widget-menu">
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="my-account.html">Delivery Information</a></li>
                                            <li><a href="privacy.html">Privacy Policy</a></li>
                                            <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                            <li><a href="#">Warranty</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="login-register.html">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-widget mb--40">
                                <h3 class="widget-title">DOWNLOAD APP</h3>
                                <div class="app-btn-group">
                                    <a href="#" class="app-btn apple-btn">App store</a>
                                    <a href="#" class="app-btn gplay-btn">Play store</a>
                                </div>

                            </div>
                            <div class="footer-widget social-widget">
                                <h3 class="widget-title">Follow Us</h3>
                                <ul class="social social-2">
                                    <li class="social__item">
                                        <a class="social__link" href="facebook.com"  data-toggle="tooltip" data-placement="top" title="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a class="social__link" href="twitter.com"  data-toggle="tooltip" data-placement="top" title="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a class="social__link" href="pinterest.com"  data-toggle="tooltip" data-placement="top" title="pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a class="social__link" href="linkedin.com"  data-toggle="tooltip" data-placement="top" title="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a class="social__link" href="vimeo.com"  data-toggle="tooltip" data-placement="top" title="vimeo">
                                            <i class="fa fa-vimeo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="line">
                        </div>
                    </div>
                    <div class="row pt--40 pb--40">
                        <div class="col-12 text-center">
                            <a href="index.html" class="footer-logo">
                                <img src="assets/img/logo/logo-blue.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="row pb--30">
                        <div class="col-12 text-center">
                            <ul class="footer-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop.html">Men</a></li>
                                <li><a href="shop.html">Laptops &amp; Desktops</a></li>
                                <li><a href="shop.html">Kitchen</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="line">
                        </div>
                    </div>
                    <div class="row pt--40 pb--40">
                        <div class="col-md-6 text-md-left text-center mb-sm--30">
                            <!-- Copyright Text Start -->
                            <p class="copyright-text">Copyright &copy; 2018  <a href="index.html">Lazio</a> All rights reserved.</p>
                            <!-- Copyright Text End -->
                        </div>
                        <div class="col-md-6 text-md-right text-center">
                            <img src="assets/img/icons/payment-icon.png" alt="payment">
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscription-area tertiary-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5 mb-sm--30">
                            <div class="subscription-text">
                                <div class="subscription-text__icon">
                                    <i class="fa fa-envelope-open color--white"></i>
                                </div>
                                <div class="subscription-text__right">
                                    <h3 class="color--white">Newsletter</h3>
                                    <p class="color--white">Sign up for our newsletter to get up-to-date from us</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <form class="newsletter-form validate"  action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
                                <input type="email" class="newsletter-form__input" id="email" placeholder="Enter your email..">
                                <input type="submit" value="Subscribe" class="newsletter-form__submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        <!-- Scroll To Top -->

        <a class="scroll-to-top" href="#"><i class="fa fa-angle-up"></i></a>

        <!-- Modal -->
        <div class="modal fade product-modal" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-5">
                        <div class="tab-content product-thumb-large">
                            <div id="thumb1" class="tab-pane active show fade">
                                <img src="assets/img/products/electronics-15-540x600.jpg" alt="product thumb">
                            </div>
                            <div id="thumb2" class="tab-pane fade">
                                <img src="assets/img/products/furniture-14.jpg" alt="product thumb">
                            </div>
                            <div id="thumb3" class="tab-pane fade">
                                <img src="assets/img/products/furniture-17.jpg" alt="product thumb">
                            </div>
                            <div id="thumb4" class="tab-pane fade">
                                <img src="assets/img/products/furniture-7.jpg" alt="product thumb">
                            </div>
                            <div id="thumb5" class="tab-pane fade">
                                <img src="assets/img/products/electronics-15-540x600.jpg" alt="product thumb">
                            </div>
                            <div id="thumb6" class="tab-pane fade">
                                <img src="assets/img/products/furniture-14.jpg" alt="product thumb">
                            </div>
                            <div id="thumb7" class="tab-pane fade">
                                <img src="assets/img/products/furniture-17.jpg" alt="product thumb">
                            </div>
                            <div id="thumb8" class="tab-pane fade">
                                <img src="assets/img/products/furniture-7.jpg" alt="product thumb">
                            </div>
                        </div>
                        <div class="product-thumbnail">
                            <div class="thumb-menu owl-carousel" id="thumbmenu">
                                <div class="thumb-menu-item">
                                    <a href="#thumb1" data-toggle="tab" class="nav-link active">
                                        <img src="assets/img/products/electronics-15-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb2" data-toggle="tab" class="nav-link">
                                        <img src="assets/img/products/furniture-14-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb3" data-toggle="tab" class="nav-link">
                                        <img src="assets/img/products/furniture-17-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb4" data-toggle="tab" class="nav-link">
                                        <img src="assets/img/products/furniture-7-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb5" data-toggle="tab" class="nav-link active">
                                        <img src="assets/img/products/electronics-15-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb6" data-toggle="tab" class="nav-link">
                                        <img src="assets/img/products/furniture-14-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb7" data-toggle="tab" class="nav-link">
                                        <img src="assets/img/products/furniture-17-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                                <div class="thumb-menu-item">
                                    <a href="#thumb8" data-toggle="tab" class="nav-link">
                                        <img src="assets/img/products/furniture-7-150x167.jpg" alt="product thumb">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="modal-box product">
                            <h3 class="product-title">Volutpat ut</h3>
                            <div class="product-price">
                                <span class="regular-price">$100.50</span>
                                <span class="sale-price">$98.98</span>
                            </div>
                            <a class="product-link" href="single-product.html">See all featurs</a>
                            <p class="product-availability">200 In Stock</p>
                            <div class="product-action-wrapper">
                                <div class="quantity">
                                    <input type="number" class="quantity-input" name="qty" id="qty" value="1" min="1">
                                </div>
                                <button type="button" class="btn btn-style-1 add-to-cart color-3">
                                    Add To Cart
                                </button>
                            </div>
                            <p class="product-desc">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                            <div class="social-share">
                                <h4>Share This Product</h4>
                                <ul class="social boxed-social">
                                    <li class="social__item"><a href="#" class="social__link facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social__item"><a href="#" class="social__link twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social__item"><a href="#" class="social__link google-plus"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="social__item"><a href="#" class="social__link pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li class="social__item"><a href="#" class="social__link linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Main Wrapper End Here -->







    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap and Popper Bundle JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>

    <!-- Ajax Mail JS -->
    <script src="{% static 'assets/js/ajax-mail.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</footer>